/* css reset */
html, body { margin:0; padding:0; height:100%; }

body {
	background-color: #D3D9DF;
}

#column {
	background-color: #989898;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	width: 500px;
}

#blue-box {
	background-color: #004489;
	height: 200px;
	padding: 20px;
}

#gray-box {
	background-color: #565656;
	height: 200px;
	padding: 20px;
}

#inner-blue-box {
	background-color: #004489;
	height: 200px;
}

#inner-gray-box {
	background-color: #565656;
	height: 200px;
}